*{
	margin: 0;
	border: 0;
	padding: 0;
}

body{
	/* Color */
	background-color:#2e3440;
	color: #e5e9f0;
	/* Font */
	font-family: 'Source Code Pro', sans-serif, arial;
	font-size: 50%;
	user-select: none;
	/* Position */
	vertical-align: middle;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	margin-right: -50%;
}

.center{
	/* Font */
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	/* Position */
	vertical-align: middle;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	margin-right: -50%;
}